# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Database files
*.db
*.sqlite3

# Logs
logs/
*.log